<p>Hi, my name is <%=messages[0].name%>. Hi, how are you?</p>
<p>Hi, my name is <%=messages[1].name%>. <%=messages[1].message%></p>
<p>Hi, my name is <%=messages[2].name%>. <%=messages[2].message%></p>






<!-- Hi my name is Jim. How are you? -->