<%- include('partials/header.ejs', {title: "Food Finder"}) -%>
<body>
<%-include('partials/navbar')  %> 
      <div class="container well">
            <div class="results">
                <h1 class="text-center">Here are some great places nearby:</h1>
                <% for(var i = 0; i < 10; i++){ %> 
                  <% var rating = businesses[i].rating  %> 
                  <% var name = businesses[i].name %> 
                  <div class="result">
                        <h2><%= name %> <%= rating %> </h2>
                  </div>
                <% } %> 
            </div>
            <a href="/">Search Again?</a>
      </div>

      <%-include('partials/footer.ejs')-%>
