<<<<<<< HEAD
<%- include ('partials/header.ejs', {title: 'Home'}) -%>
<%- include ('partials/navbar.ejs') -%>

<body>
    <div class="container well p-3">
        <form class="form-check" action="">
            <h1 class="text-center text-dark">Book Search</h1>
            <label for="book" class="pt-2">Enter book title: </label>
            <input type="text" name="book" id="book" class="form-control p-1 " placeholder="Enter book title here">

            <label for="book" class="pt-2">Enter author title: </label>
            <input type="text" name="author" id="author" class="form-control p-1 " placeholder="Enter author here">

            <button class="btn btn-success btn-block mt-3">Submit</button>
        </form>
    </div>

=======
<%- include ('partials/header.ejs', {title: 'Home'}) -%>
<%- include ('partials/navbar.ejs') -%>

<body>
    <div class="container well p-3">
        <form class="form-check" action="">
            <h1 class="text-center text-dark">Book Search</h1>
            <label for="book" class="pt-2">Enter book title: </label>
            <input type="text" name="book" id="book" class="form-control p-1 " placeholder="Enter book title here">

            <label for="book" class="pt-2">Enter author title: </label>
            <input type="text" name="author" id="author" class="form-control p-1 " placeholder="Enter author here">

            <button class="btn btn-success btn-block mt-3">Submit</button>
        </form>
    </div>

>>>>>>> 7d1ec4c540d041b4a31ff9257cb765ce163681f9
    <%- include ('partials/footer') %>